.alert {
    background-color: #00a2c8;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
  }
  
  /* Reset alert-close button appearance and remove browser defaults */
  .alert-close {
    appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 20px;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    width:fit-content;
  }

  .alert-close:active {
    background-color: inherit;
  }